.navbar{
  display: flex;
  justify-content: space-evenly;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(19, 19, 125);
  text-align: center;
  font-size: 30px;
  height: 30px;
  padding:20px
}
.home{
  text-decoration: none;
  font-size: 30px;
  color: aliceblue;
}
.std{
  text-decoration: none;
  font-size: 30px; 
  color: aliceblue;
}
.cont{
  text-decoration: none;
  font-size: 30px;
  color: aliceblue;
}
 p{
  font-size: 30px;
  margin-top:60px;
  margin-left: 60px;
 

 }
 button{
  border-radius:30px;
  position: absolute;
  right:190px;
  top:100px;
  height:48px;
  width:160px;
  font-weight: bolder;
  
 }
 table{
  margin-left: 180px;
  text-align: center;
  background-color: aliceblue;
  border-radius: 10px;
 }
 h1{
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  margin-left: 180px;
 }
 a{
  text-decoration: none;
 }